{% load static %}

<html lang="en">
<head>
    {% block title %}<title></title>{% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
          integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/magnifier.png' %}" type="image/x-icon"/>
    {% block site_css %} {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
